<h1>A day off</h1>
<p>Lasts Saturday, @Model.Person1 and @Model.Person2 were @Model.Excercise at the gym, when suddenly a huge @Model.Animal came out the locker. "@Model.Exclamation", @Model.Person1 yelled. The two of them @Model.Verb suddenly, and when they realized how crazy they looked, @Model.Person1 and @Model.Person2 gave each other a big @Model.Noun.</p>
